<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.white.mutidatasource1.dao.front.UserMapper">

    <insert id="insert" parameterType="org.white.mutidatasource1.dto.UserDTO">
        INSERT INTO `USER`
        (
          userId,
          userName
        )
        VALUES
        (
            #{userId},
            #{userName}
        )
    </insert>

</mapper>